@import 'colors';

html, body {
	height: 100%;
	overflow-x: hidden;
}

h1, h2, p, input, a, div {
	font-family: 'Roboto';
}

/* ---- INDEX ----- */

.navbar {
	background-color: @white;
	padding: 0px 50px;
}

.navbar-header {
	min-height: 60px;
	padding: 15px 0px;
}

.navbar-right {
	margin-right: 40px;
}

.navbar .nav > li > a {
	padding: 20px 15px;
	font-size: 14px;
	line-height: 70px;
	text-decoration: none;
	color: @grey;
	padding: 0px 15px;
	margin-right: 10px;
	&:hover {
		color: @white;
		background-color: @blue
	}
}

.navbar .nav > li > a.special {
	border: 2px solid @blue;
	color: @blue;
	line-height: 14px;
	padding: 10px;
	margin: 16px 0;
	&:hover {
		color: @white;
		background-color: @blue;
	}
}

.navbar .btn-navbar {
	margin-top: 15px;
}

.main-container {
	position: relative;
	background-image: url("../images/landing-main.png");
	height: calc(~"100% - 70px");
	margin-top: 70px;
	.phone {
		height: 400px;
	}
	.logo-home-video {
		height: 240px;
	}
 }

.elements {
	text-align: center;
	min-width: 760px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.store a img {
	height: 66px;
	padding: 0px 5px;
}

.left-container {
	vertical-align: top;
	display: inline-block;
	padding: 0 20px;
}

.right-container {
	display: inline-block;
	padding: 0 20px;
}

.main-text {
	font-size: 40px;
	font-weight: 700;
	color: @white;
}

/* ---- FEATURES ----- */

.features-container {
	padding: 80px 20px;
}

.title {
	font-family: 'Roboto Slab';
	font-size: 35px;
	font-weight: 700;
	display: block;
	color: @blue;
	margin-bottom: 8px;
	text-align: center;
	text-transform: uppercase;
}

.subtitle {
	display: block;
	max-width: 450px;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
	line-height: 28px;
	font-weight: 300;
	margin-bottom: 60px;
}

.line {
	height: 3px;
	max-width: 250px;
	margin: 0 auto;
	background-color: @blue;
	margin-bottom: 20px;
}

.features {
	display: block;
	text-align: center;
}

.affinity, .price, .newsfeed, .social {
	text-align: center;
	margin: auto 50px;
	width: 200px;
	vertical-align: top;
	display: inline-block;
}

.feature-title {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
}

.feature-text {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 20px;
	text-align: center;
}

.features img {
	height: 80px;
	width: 80px;
	margin-bottom: 10px;
}

/* ---- APP ----- */

.app-container {
	position: relative;
	background-color: @blue;
	height: 500px;
}

.video {
	display: inline-block;
	vertical-align: top;
	margin-right: 60px;
  	iframe {
		height: 281px;
		width: 500px;
  	}
}

.elements-container {
	width: 100%;
	text-align: center;
	display: block;
	position: absolute;
	top: 50%;
 	left: 50%;
	transform: translate(-50%, -50%);
}

.text-container {
	display: inline-block;
	h1 {
		font-size: 35px;
		font-weight: 700;
		margin-bottom: 8px;
  		text-transform: uppercase;
  		color: @white;
  		margin-top: 0px;
	}
	.line {
		background-color: @white;
	}
	.text {
		font-size: 20px;
		line-height: 28px;
		font-weight: 300;
		color: @white;
		text-align: left;
		margin-top: 40px;
		max-width: 300px;
	}
}

/* ---- TRIVIA ----- */

.trivia-container {
	background-color: #000;
	position: relative;
	height: 550px;
}

.trivia-title {
	font-size: 35px;
	font-weight: 700;
	color: @white;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto Slab';
}

.trivia-line {
	height: 3px;
	max-width: 250px;
	background-color: @white;
	margin-bottom: 20px;
}

.trivia-elements {
	width: 100%;
	text-align: center;
	display: block;
	position: absolute;
	top: 50%;
 	left: 50%;
	transform: translate(-50%, -50%);
}

.trivia-right {
	vertical-align: middle;
	display: inline-block;
}

.trivia-left {
	margin-right: 80px;
	vertical-align: middle;
	display: inline-block;
}

.trivia-subtitle {
	max-width: 350px;
	font-size: 20px;
 	line-height: 28px;
 	font-weight: 300;
	color: @white;
	text-align: left;
}

.trivia-fb-title {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	color: @white;
	margin-bottom: 5px;
}


.trivia-fb-text {
	font-size: 16px;
	font-weight: 100;
	line-height: 20px;
	color: @white;
	max-width: 250px;
}

.facebook {
	display: block;
	margin-top: 60px;
	text-align: left;
}

.facebook-text {
	display: inline-block;
	vertical-align: middle;
	margin-left: 30px;
}

/* ---- SEARCH----- */

.search-container {
	background-color: @blue;
	position: relative;
	height: 600px;
}

.search-elements {
	width: 100%;
	text-align: center;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.search-wrapper {
	display: inline-block;
	vertical-align: middle;
}

.search-title {
	font-family: 'Roboto Slab';
	text-align: right;
	display: block;
	font-size: 35px;
	font-weight: 700;
	color: @white;
	text-transform: uppercase;
}

.search-line {
	margin-left: 100px;
	display: block;
	height: 3px;
	max-width: 250px;
	background-color: @white;
	margin-bottom: 20px;
}

.search-text {
	text-align: right;
	display: block;
	margin-top: 80px;
	max-width: 350px;
	font-size: 20px;
	line-height: 28px;
	font-weight: 300;
	color: white;
}

.carousel {
  max-width: 500px;
  width: 100%;
  padding: 0 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: center;
}

.carousel-indicators {
  bottom: -30px;
  margin-left: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

.carousel-control.left, .carousel-control.right {
	background: none;
}

.carousel-inner > .item > img {
	max-width: 426px;
	max-height: 850px;
	margin: 0 auto;
	height: 400px;
}

/* ---- MEDIA ----- */

@media (max-width:768px) {

	.navbar .nav > li > a {
		padding: 10px 15px;
	}

	.left-container {
		display: none;
	}

	.right-container > img, .trivia-right {
		display: none;
	}

	.trivia-title {
		max-width: 430px;
	}

	.trivia-line {
		margin: 0 auto;
	}

	.trivia-subtitle {
		text-align: center;
		margin: 20px auto;
	}

	.facebook {
		margin-top: 20px;
	}

	.facebook-text {
	  margin-left: 80px;
	}

	.trivia-left {
		margin: 10px auto;
	}

	.search-container {
		height: 800px;
	}

	.search-wrapper {
		display: block;
	}

	.search-title, .search-line, .search-text {
		text-align: center;
		margin: 10px auto;
	}

	.search-text {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.carousel {
		display: block;
	}

	.main-text {
		text-align: center;
	}

	.store img {
		display: block;
		max-width: 200px;
		margin: 10px auto;
	}

	.navbar-toggle {
		background: @blue;
		margin: 0;
	}

	.icon-bar {
  		background: white;
  	}

  	.navbar .nav > li > a {
  		line-height: 14px;
  	}

  	.navbar .nav > li > a.special {
  		margin: 0;
  	}

  	.video {
  		display: none;
  	}

  	.text-container {
			.text {
		  		text-align: center;
		  }
			h1 {
		  		text-align: center;
		  }
  	}
}
