@import 'colors';

html, body {
	height: 100%;
	overflow-x: hidden;
}

h1, h2, p, input, a, div {
	font-family: 'Roboto';
}

/* ---- INDEX ----- */

.navbar {
	background-color: @white;
	padding: 0px 50px;
}

.navbar-header {
	min-height: 60px;
	padding: 15px 0px;
}

.navbar-right {
	margin-right: 40px;
}

.navbar .nav > li > a {
	padding: 20px 15px;
	font-size: 14px;
	line-height: 70px;
	text-decoration: none;
	color: @grey;
	padding: 0px 15px;
	margin-right: 10px;
	&:hover {
		color: @white;
		background-color: @blue
	}
}

.navbar .nav > li > a.special {
	border: 2px solid @blue;
	color: @blue;
	line-height: 14px;
	padding: 10px;
	margin: 16px 0;
	&:hover {
		color: @white;
		background-color: @blue;
	}
}

.navbar .btn-navbar {
	margin-top: 15px;
}

.main-container {
	position: relative;	
	background-image: url("../images/landing-main.png");
	height: calc(~"100% - 70px");
	margin-top: 70px;
	.phone {
		height: 400px;
	}
	.logo-home-video {
		height: 240px;
	}
 }

.elements {
	min-width: 760px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.store a img {
	height: 66px;
	padding: 0px 5px; 
}

.left-container {
	vertical-align: top;
	display: inline-block;
	padding: 0 20px;
}

.right-container {
	display: inline-block;
	padding: 0 20px;
}

.main-text {
	font-size: 40px;
	font-weight: 700;
	color: white;
}

/* ---- FEATURES ----- */

.features-container {
	padding: 80px 20px;
}

.title {
	font-family: 'Roboto Slab';
	font-size: 35px;
	font-weight: 700;
	display: block;
	color: @blue;
	margin-bottom: 8px;
	text-align: center;
	text-transform: uppercase;
}

.subtitle {
	display: block;
	max-width: 450px;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
	line-height: 28px;
	font-weight: 300;
	margin-bottom: 60px;
}

.line {
	height: 3px;
	max-width: 250px;
	margin: 0 auto;
	background-color: @blue;
	margin-bottom: 20px;
}

.features {
	display: block;
	text-align: center;
}

.affinity, .price, .newsfeed, .social {
	text-align: center;
	margin: auto 50px;
	width: 200px;
	vertical-align: top;
	display: inline-block;
}

.feature-title {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
}

.feature-text {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 20px;
	text-align: center;
}

.features img {
	height: 80px;
	width: 80px;
	margin-bottom: 10px; 
}

@media (max-width:768px) {
	
	.navbar .nav > li > a {
		padding: 10px 15px;
	}

	.left-container {
		display: none;
	}

	.right-container > img {
		display: none;
	}

	.main-text {
		text-align: center;
	}

	.store img {
		display: block;
		max-width: 200px;
		margin: 10px auto;
	}

	.navbar-toggle {
		background: @blue;
		margin-top: 14px;
		margin-bottom: 14px;
	}

	.icon-bar {
  		background: white;
  	}

  	.navbar .nav > li > a {
  		line-height: 14px;
  	}

  	.navbar .nav > li > a.special {
  		margin: 0;
  	}
}
