doctype html
html(lang='en')
	head
		link(href='css/app.min.css', rel='stylesheet')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet')
		link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
	body
		.features-container
			.title
				| Features
			.line
			.subtitle 
				|	NightOwl es el compañero que necesitás para 
				br
				|	organizar tus salidas.
			.features
				.affinity 
					img(alt='Afinidad', src='images/i-afinidad.png')
					.feature-title 
						|	Afinidad
					.feature-text 
						|	Conociendo tus gustos,
						br
						|	NightOwl te sugiere lugares 
						br
						|	acorde a tus intereses.
				.price
					img(alt='Precio', src='images/i-precio.png')
					.feature-title 
						|	Precio
					.feature-text 
						|	En el Perfil de cada centro 
						br
						|	podrás ver el rango de 
						br
						|	precio de la entrada.
				.newsfeed
					img(alt='newsfeed', src='images/i-newsfeed.png')
					.feature-title 
						|	Newsfeed
					.feature-text 
						|	NightOwl te avisará las 
						br
						|	novedades de los bares y 
						br
						|	boliches que más te gustan.
				.social
					img(alt='Social', src='images/i-social.png')
					.feature-title 
						|	Social
					.feature-text 
						|	Seguí a tus amigos para 
						br
						|	conocer qué tipo de salidas 
						br
						|	les gustan y dónde los vas a 
						br
						|	poder encontrar.

