doctype html
html(lang='en')
	head
		link(href='css/app.min.css', rel='stylesheet')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet')
		link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
	body
		.container
			.title Features
			.line
			.subtitle NightOwl es el compañero que necesitás para organizar tus salidas.
			.features
				.affinity 
					img(alt='Afinidad', src='images/i-afinidad.png')
					.feature-title Afinidad
					.feature-text Conociendo tus gustos, NightOwl te sugiere lugares acorde a tus intereses.
				.price
					img(alt='Precio', src='images/i-precio.png')
					.feature-title Precio
					.feature-text En el Perfil de cada centro podrás ver el rango de precio de la entrada.
				.newsfeed
					img(alt='newsfeed', src='images/i-newsfeed.png')
					.feature-title Newsfeed
					.feature-text NightOwl te avisará las novedades de los bares y boliches que más te gustan.
				.social
					img(alt='Social', src='images/i-social.png')
					.feature-title Social
					.feature-text Seguí a tus amigos para conocer qué tipo de salidas les gustan y dónde los vas a poder encontrar.

