doctype html
html(lang='en')
	head
		link(href='css/app.min.css', rel='stylesheet')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet')
		link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
	body
		.trivia-container
			.trivia-title Resultado de la trivia
			.trivia-line
			.trivia-subtitle Una vez con el perfil completo, la app te sugiere lugares afines a tus intereses.
			img(src='images/facebook-share.png', alt='Busqueda 3') 
			.trivia-fb-title Facebook Share
			.trivia-fb-text Compartí tus gustos fuera de NightOwl para que se enteren quienes todavía no tienen la app.
		img(src='images/100afinidad.png', alt='Busqueda 3') 